<h2>เกี่ยวกับเรา</h2>
<hr />
<h3>ประวัติร้าน</h3>
<div class="row">
  <div class="col-4"></div>
  <div class="col-8">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tellus
      lectus, viverra sollicitudin lorem quis, accumsan tincidunt mauris. Nullam
      tellus purus, aliquet id nulla eu, vulputate lacinia lectus. Sed maximus
      blandit condimentum. Nunc eget leo elit. In urna neque, dapibus rhoncus
      viverra ac, luctus mattis neque. Maecenas consectetur, purus id viverra
      eleifend, nisi nisl facilisis augue, sed vulputate arcu orci at odio. Sed
      eget cursus mauris. Sed felis turpis, facilisis non dolor ac, suscipit
      interdum orci. Maecenas auctor vestibulum dui, eget pharetra erat
      tincidunt et.
    </p>
    <p>
      Pellentesque vestibulum, urna ut finibus gravida, nisl ipsum iaculis sem,
      sit amet iaculis odio magna sit amet erat. Mauris nisl augue, consequat
      quis cursus eu, laoreet id turpis. Nullam placerat fermentum rhoncus.
      Integer at ante commodo, sollicitudin enim id, ornare augue. Sed vitae
      magna nisl. Aenean placerat velit eget neque luctus, quis bibendum nunc
      sagittis. Aenean luctus, justo vel faucibus hendrerit, lectus mauris
      viverra leo, vitae pulvinar sapien urna quis dolor. Nulla velit tellus,
      consectetur eget malesuada eget, aliquam vel leo. Ut in pulvinar orci,
      quis pulvinar dui. Maecenas ut sollicitudin magna. Mauris at placerat
      purus. Nullam volutpat dictum massa et fermentum.
    </p>
    <p>
      Donec lectus felis, luctus non ligula egestas, laoreet dignissim sem.
      Aliquam vel dui eu nunc ultrices convallis. Mauris maximus lorem at dolor
      vulputate mollis. Nunc laoreet nunc a odio dictum, at dictum lorem
      tristique. Suspendisse cursus quam scelerisque elementum fermentum.
      Curabitur in urna sit amet risus eleifend interdum congue vitae neque. Sed
      convallis rutrum nisl, sed hendrerit lacus posuere non. Suspendisse
      consectetur sem nec elit varius tristique et quis augue. Cras sem erat,
      ultricies a aliquam id, ultrices at lorem. Quisque sagittis rhoncus diam,
      dignissim sollicitudin dolor bibendum ac. Nam interdum, nunc sed pulvinar
      cursus, leo libero lacinia nibh, a viverra purus nisi sit amet dolor.
      Morbi malesuada tincidunt faucibus. Curabitur eu fermentum orci. Maecenas
      augue libero, facilisis at volutpat sit amet, suscipit sed sapien. Etiam
      viverra sed nulla sit amet fringilla.
    </p>
  </div>
</div>
<h3>พนักงานของเรา</h3>
<div class="row">
  <div class="col-4"></div>
  <div class="col-8">
    <div class="row">
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="assets/images/user.jpg"
              class="rounded"
              style="width: 100px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">ทดสอบ ทดสอบ</div>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="assets/images/user.jpg"
              class="rounded"
              style="width: 100px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">ทดสอบ ทดสอบ</div>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="assets/images/user.jpg"
              class="rounded"
              style="width: 100px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">ทดสอบ ทดสอบ</div>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img
              src="assets/images/user.jpg"
              class="rounded"
              style="width: 100px"
            />
          </div>
          <div class="card-body">
            <div class="card-title h5">ทดสอบ ทดสอบ</div>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
